@model SP.DataManager.Models.Spaceships

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spaceships</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrewSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrewSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dock.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
